<p>
    <mat-toolbar>
      <span>Selamat Datang!</span>
      <span class="jarak-tombol">
        <button mat-raised-button color="accent" routerLink="/about">About</button>
      </span>
      <span class="jarak-tombol">
        <button mat-raised-button color="accent" routerLink="/contact">Contact</button>
      </span>
    </mat-toolbar>
</p>

<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <app-copyright [hak_cipta] = 'hakcipta'></app-copyright>
</div>

